.hero_container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero_gif {
	/* display: block; */
	margin-left: 0;
	margin-right: 0;
	/* transform: rotate(90deg); */
	margin-top: 0;
	margin-bottom: 0;
}

.hero_link {
	/* margin-top: 15em; */
	padding: 1.5em;
	border-radius: 2px;
	border: 1px solid #ededed;
	text-decoration: none;
	background-color: transparent;
	z-index: 1;
	position: absolute;

	transition: background-color 0.3s ease, color 0.3s ease;
	transform: translateY(-30px);

	/* filter: brightness(0.7); */
}

.hero_link:hover {
	background-color: #ededed;
	color: black;
}
