.navbar {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.navbar_link {
	position: relative;
	display: inline-block;
	font-size: 1.2em;
	font-weight: 800;
	color: #ededed;
	overflow: hidden;

	background: linear-gradient(to right, #55f0c2, #55f0c2 50%, #ededed 50%);

	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: 200% 100%;
	background-position: 100%;

	transition: background-position 275ms ease;
}

.navbar_link:hover {
	background-position: 0 100%;
}

.footer {
	border-top: #ededed 1px solid;
	padding: 2em;
	/* filter: brightness(0.7); */

	/* position: absolute; */
	position: relative;
	bottom: 0;
	width: 100%;

	display: flex;
	align-items: center;
	justify-content: space-around;
}

.footer_link {
	position: relative;
	display: inline-block;
	font-size: 1em;
	font-weight: 800;
	color: #ededed;
	overflow: hidden;

	background: linear-gradient(to right, #55f0c2, #55f0c2 50%, #ededed 50%);

	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: 200% 100%;
	background-position: 100%;

	transition: background-position 275ms ease;
}

@media screen and (max-width: 425px) {
	.footer {
		flex-direction: column;
		align-items: start;
		justify-content: space-between;
	}
}

.footer_link:hover {
	background-position: 0 100%;
}
