* {
	background-color: black;
	color: #ededed;
}

main {
	display: flex;
	flex-direction: column;
	flex: 1; /* Allows main to expand and fill available space, pushing the footer down */
}

body {
	/* position: relative; */
	height: 100vh;
	min-height: 100vh;
}

a {
	text-decoration: none;
}
